body {
    margin: 0;
    padding: 0;
    height: 100vh;

    display: flex;
}

div.sidebar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    max-width: calc(100vh / 3);
    background-color: whitesmoke;
}

ul.projects-list {
    padding: 0;

    flex-grow: 1;
}

ul.projects-list > li {
    list-style: none;
    
    display: flex;

    padding: 1em;
}

ul.projects-list > li > button {
    border: none;
    background-color: inherit;

    text-align: left;
}

ul.projects-list > li:hover > button {
    cursor: pointer;
}

ul.projects-list > li > button {
    display: flex;
    flex-direction: column;
}

ul.projects-list > li > button > span.li-title {
    text-transform: capitalize;
    font-weight: bold;
}

ul.projects-list > li > button > span.li-date {
    font-size: small;
    font-style: italic;
    font-weight: lighter;
}

ul.projects-list > li > button#rm-li-btn {
    margin-left: auto;
    align-self: center;

    width: 12px;
    height: 12px;
}

ul.projects-list > li:hover > button#rm-li-btn {
    background-color: red;
}

div.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

dialog.project-dialog > form {
    display: flex;
    flex-direction: column;
}