@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: "Atkinson Hyperlegible", sans-serif;

    margin: 0;
    padding: 0;
    height: 100vh;

    display: grid;
    grid-template: 1fr 2em / 25% 1fr;
}

button {
    border: none;
    background-color: inherit;
    text-align: left;

    padding: 0.5em;
    margin: 0;
}

button:hover {
    cursor: pointer;

    background-color: yellowgreen;
}

/* --- SIDEBAR --- */
div.sidebar {
    display: flex;
    flex-direction: column;

    background-color: whitesmoke;
}

div.sidebar > div.priority-classes {
    display: flex;
    flex-direction: column;
}

ul.projects-list {
    margin: 0px;
    padding: 0px;
}

ul.projects-list > li {
    position: relative;
    list-style: none;
    display: flex;

    padding: 0.5em;
}

button#li-button {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
    min-height: 30px;
}

li > button > span#li-title {
    font-weight: bold;
}

li > button > span#li-date {
    font-size: small;
    font-style: italic;
    font-weight: lighter;
}

button#li-rm-button {
    position: absolute;
    right: 2em;
    align-self: center;

    width: 20px;
    height: 20px;

    appearance: none;
    background-image: url('./visuals/close.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;

    transition: transform 0.2s ease;
}

button#li-button:hover + button#li-rm-button,
button#li-rm-button:hover {
    background-color: yellowgreen;
}

button#li-rm-button:hover {
    transform: scale(1.4);
}

button#li-button:has(+ button#li-rm-button:hover) {
    background-color: yellowgreen;
}

button#project-remove-confirm {
    width: 20px;
    padding-right: 50px;

    background-image: url('./visuals/delete-line-black.svg');
    background-position: center;
    background-repeat: no-repeat;

    transition: flex-grow 0.2s ease;
}

button#project-remove-confirm:hover{
    background-image: url('./visuals/delete-fill.svg');
    background-color: red;
    flex-grow: 1;
}

dialog.dialog-project > form {
    display: flex;
    flex-direction: column;

    width: 280px;
}

dialog.dialog-project button {
    padding-left: 0;
}

/* --- CONTENT CONTAINER --- */
div.content-container {
    display: flex;
    flex-direction: column;
    gap: 1em;

    margin: 2em;
}

div.content-container > input#content-project-header {
    font-size: 2em;
    font-weight: 700;

    border: none;
    outline: none;
}

div.content-container > input#content-project-header:hover {
    background-color: whitesmoke;
}

div.content-container textarea.description {
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
    color: rgb(118, 118, 118);
    
    border: none;
    outline: none;
    
    resize: none;
}

textarea.project-description-area {
    font-size: medium;
}

textarea:hover {
    background-color: whitesmoke;
}

div.content-container input#content-due-date {
    width: 125px;
}

div.content-container select#content-priority-selection {
    width: 130px;
}

div.content-container > div.task-controls-container {
    display: flex;
    align-items: center;
    
    width: 100%;
    height: 2em;
}

div.task-controls-container > div.task-tabs-container {
    position: relative;
    left: 50%;  /* Moves left border to middle of container */
    transform: translateX(-50%);   /* Translates itself backwards for half of own width */
    display: flex;

    align-items: center;
}

button#task-control-all,
button#task-control-important {
    width: 80px;
    position: absolute;
    z-index: 2;

    background-color: unset;
    box-shadow: none;

    text-align: center;
    font-weight: bolder;
    color: #767676;
}

button#task-control-all:disabled,
button#task-control-important:disabled {
    color: white;
    background-color: yellowgreen;
    box-shadow: 0px 0px 4px 0px #d5d5d5;
}

button#task-control-all:disabled:hover,
button#task-control-important:disabled:hover {
    cursor: auto;
}

button#task-control-all:active,
button#task-control-important:active {
    background-color: #e0e0e0;
}

button#task-control-all {
    left: 6px;
}

button#task-control-important {
    left: 86px;
}

div.task-controls-container > div.task-tabs-container::after {
    content: '';
    width: 172px;
    height: 40px;
    
    z-index: 1;

    background-color: whitesmoke;
}

div.task-controls-container > button#task-new-button {
    appearance: none;
    width: 32px;
    height: 32px;

    background-image: url('./visuals/new-default.svg');
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;

    transition: transform 0.2s ease;
}

div.task-controls-container > button#task-new-button:hover {
    background-image: url('./visuals/new-hover.svg');
    background-color: yellowgreen;

    transform: scale(1.1);
}

div.content-container > div.tasks-container {
    display: flex;
    flex-direction: column;

    gap: 1em;
}

/* --- TASKS --- */
div.tasks-container > div.task-container {
    display: flex;

    box-shadow: 
        0 -8px 0 0 #fff,
        0 -9px 0 0 rgb(118, 118, 118);
}

div.task-container input.task-complete-checkbox {
    margin-top: 0px;
    padding-left: 6px;
    margin-bottom: auto;

    width: 22px;
    height: 22px;

    appearance: none;

    background-image: url('./visuals/task-incomplete.svg');
    background-size: 100%;

    cursor: pointer;

    transition: transform 0.2s ease-in-out;
}

div.task-container input.task-complete-checkbox:checked {
    background-image: url('./visuals/task-complete.svg');
    transform: scale(0.5) rotate(90deg);
    opacity: 0.5;
}

div.task-container div.task-description-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    position: relative;
}

div.task-description-container > input.task-header {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-size: medium;

    border: none;
    outline: none;

    flex-grow: 1;
    min-height: 20px;  /* If not explicit, there's a 0.5px nudge when description revealed */
}

input.task-header:hover {
    background-color: whitesmoke
}

div.task-description-container > input#task-open-checkbox {
    width: 22px;
    height: 22px;

    z-index: 2;
    position: absolute;
    right: 0.5px;
    top: -4px;

    appearance: none;

    background-image: url('./visuals/arrow-down.svg');
    background-size: 100%;

    cursor: pointer;

    transition: transform 0.2s ease;
}

div.task-description-container > input#task-open-checkbox:checked {
    transform: rotate(180deg) scale(1.5);
}

textarea.task-description-area {
    flex-grow: 1;
    z-index: 1;
    position: relative;
}

input#task-important-checkbox {
    width: 22px;
    height: 22px;

    z-index: 2;
    position: absolute;
    right: 0.5px;
    bottom: -2px;

    appearance: none;

    background-image: url('./visuals/important-unchecked.svg');
    background-size: 100%;

    cursor: pointer;

    transition: transform 0.2s ease;
}

input#task-important-checkbox:checked {
    background-image: url('./visuals/important-checked.svg');
    transform: scale(1.3);
}

input#task-important-checkbox:hover {
    transform: scale(1.3);
}

/* --- FOOTER --- */
div.new-project-container {
    background-color: whitesmoke;
    border-top: solid 1px rgb(118, 118, 118);

    display: flex;
}

div.new-project-container > button#new-project {
    width: 100%;
    position: relative;
    padding-left: 3em;
}

button#new-project::before {
    content: url('./visuals/new-default.svg');
    position: absolute;
    left: 0.5em;
    top: 3px;

    transition: transform 0.2s ease;
}

button#new-project:hover::before {
    content: url('./visuals/new-hover.svg');
    transform: scale(1.2);
}

div.footer {
    border-top: solid 1px rgb(118, 118, 118);
}