@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: "Atkinson Hyperlegible", sans-serif;

    margin: 0;
    padding: 0;
    height: 100vh;

    display: grid;
    grid-template: 1fr 2em / 25% 1fr;
}

button {
    border: none;
    background-color: inherit;
    text-align: left;

    padding: 0.5em;
    margin: 0;
}

button:hover {
    cursor: pointer;

    background-color: yellowgreen;
}

/* --- SIDEBAR --- */
div.sidebar {
    display: flex;
    flex-direction: column;

    background-color: whitesmoke;
}

div.sidebar > div.priority-classes {
    display: flex;
    flex-direction: column;
}

ul.projects-list {
    padding: 0;
}

ul.projects-list > li {
    list-style: none;
    
    display: flex;
    gap: 1em;

    padding: 1em;
}

ul.projects-list > li > button#li-button {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
}

ul.projects-list > li > button > span#li-title {
    font-weight: bold;
}

ul.projects-list > li > button > span#li-date {
    font-size: small;
    font-style: italic;
    font-weight: lighter;
}

ul.projects-list > li > button#li-rm-button {
    margin-left: auto;
    align-self: center;

    width: 12px;
    height: 12px;

    border-radius: 50%;
}

ul.projects-list > li:hover > button#li-rm-button {
    background-color: red;
}

dialog.dialog-project > form {
    display: flex;
    flex-direction: column;

    width: 280px;
}

dialog.dialog-project button {
    padding-left: 0;
}

/* --- CONTENT CONTAINER --- */
div.content-container {
    display: flex;
    flex-direction: column;
    gap: 1em;

    margin: 2em;
}

div.content-container > input#content-project-title {
    font-size: 2em;
    font-weight: 700;

    border: none;
    outline: none;
}

div.content-container > input#content-project-title:hover {
    background-color: whitesmoke;
}

div.content-container > textarea {
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
    background-color: inherit;
    
    border: none;
    outline: none;
    
    resize: vertical;
}

div.content-container > textarea:hover {
    background-color: whitesmoke;
}

div.content-container input#content-due-date {
    width: 125px;
}

div.content-container select#content-priority-selection {
    width: 130px;
}

div.content-container > div.task-controls-container {
    display: flex;

    gap: 1em;
}

div.task-controls-container > button#task-new-button {
    appearance: none;
    aspect-ratio: 1 / 1;
    margin-left: auto;

    background-image: url('./visuals/new-default.svg');
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;

    transition: transform 0.1s ease;
}

div.task-controls-container > button#task-new-button:hover {
    background-image: url('./visuals/new-hover.svg');
    background-color: yellowgreen;

    transform: scale(1.1);
}

/* --- TASKS --- */
div.content-container > div.task-container {
    display: flex;

    box-shadow: 
        0 -8px 0 0 #fff,
        0 -9px 0 0 rgb(118, 118, 118);
}

div.task-container > input.task-complete-checkbox {
    margin-top: 4px;
    margin-bottom: auto;
}

div.task-container > div.task-description-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    position: relative;
}

div.task-description-container > input.task-header {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-size: medium;


    border: none;
    outline: none;


    flex-grow: 1;
}

input.task-header:hover {
    background-color: whitesmoke
}

div.task-description-container > textarea.task-description {
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
    color: rgb(118, 118, 118);

    border: none;
    outline: none;

    flex-grow: 1;
    z-index: 1;
    position: relative;

    resize: none;
}

textarea.task-description:hover {
    background-color: whitesmoke;
}

div.task-description-container > input.task-important-checkbox {
    width: 22px;
    height: 22px;

    z-index: 2;
    position: absolute;
    right: 0px;
    bottom: 0px;

    appearance: none;

    background-image: url('./visuals/important-unchecked.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;

    transition: transform 0.1s ease;
}

div.task-description-container > input.task-important-checkbox:checked {
    background-image: url('./visuals/important-checked.svg');
    background-size: 110%;
}

div.task-description-container > input.task-important-checkbox:hover {
    transform: scale(1.2);
}

/* --- FOOTER --- */
div.new-project-container {
    background-color: whitesmoke;
    border-top: solid 1px rgb(118, 118, 118);
}

div.new-project-container > button#new-project {
    width: 100%;
}

div.footer {
    border-top: solid 1px rgb(118, 118, 118);
}